html, body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: PTSans;
  src: url(./assets/PTSans-Bold.ttf);
}
canvas{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 2px solid black;
}
